# AIRFLOW
AIRFLOW_IMAGE_NAME=apache/airflow:2.9.2
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

AIRFLOW_DAGS=./dags
AIRFLOW_LOGS=./data/airflow_logs
AIRFLOW_PLUGINS=./plugins

# MINIO
MINIO_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
BUCKET_NAME=spotify-data-pipeline

# SPOTIFY API
APP_CLIENT_ID=SEU_CLIENT_ID
APP_CLIENT_SECRET=SEU_CLIENT_SECRET

# POSTGRES
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow