# AIRFLOW
AIRFLOW_IMAGE_NAME=apache/airflow:2.9.2
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=seu_usuario
_AIRFLOW_WWW_USER_PASSWORD=sua_senha

# Pastas locais montadas no container
AIRFLOW_DAGS=./dags
AIRFLOW_LOGS=./data/airflow_logs
AIRFLOW_PLUGINS=./plugins

# MINIO
MINIO_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=seu_usuario
MINIO_ROOT_PASSWORD=sua_senha
BUCKET_NAME=spotify-data-pipeline

# API SPOTIFY
APP_CLIENT_ID=seu_client_id_aqui
APP_CLIENT_SECRET=seu_client_secret_aqui

# POSTGRES
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=airflow